<div class="container col s8">
  <tr class="row">
    <div class="container col s8">
      <h3>Contacts</h3>
    </div>
    <table class="table">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Contact name</th>
        <th scope="col">Phone #</th>
        <th scope="col">Email</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let post of data">
        <th scope="row">{{post.id}}</th>

        <td><input type="text" [(ngModel)]="post.ime_kontakta" name="ime_kontakta" value="{{post.ime_kontakta}}"></td>
        <td><input type="text" [(ngModel)]="post.telefon" name="telefon" value="{{post.telefon}}"></td>
        <td><input type="text"  name="email" [(ngModel)]="post.email" value="{{post.email}}"></td>
        <td><button type="button" id = "btnEditItem" (click) =  "editContact(post)"
                    class="navbar-toggle collapsed"
                    data-toggle="collapse">
          Edit</button></td>
      </tr>
      <tr>

        <td><input type="text" [(ngModel)]="new_contact.ime_kontakta" required="required" name="ime_kontakta" placeholder="Ime kontakta"></td>
        <td><input type="text" [(ngModel)]="new_contact.telefon" name="telefon" placeholder="telefon"></td>
        <td><input type="text"  name="email" [(ngModel)]="new_contact.email" placeholder="email"></td>
        <td><button type="button" id = "btnCreateNew" (click) =  "addContact(new_contact)"
                class="navbar-toggle collapsed"
                data-toggle="collapse"
                [disabled]="isBtnDisabled()"
        >
          Add Contact</button></td>
      </tr>
      </tbody>
    </table>

  </div>
