<form #loginForm="ngForm" class="col s8 white" (ngSubmit)="OnSubmit(email.value,password.value)">
  <div class="row">
    <div class="input-field col s12">
      <input type="text" #email ngModel name="email" placeholder="Email" required>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <input type="password" #password ngModel name="password" placeholder="Password" required>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <button [disabled]="!loginForm.valid" class="btn-large btn-submit" type="submit">Login</button>
    </div>
  </div>
</form>

<div class="container">
  <p>Ukoliko nemate kreiran nalog kliknite <a href="/register">OVDE</a></p>
</div>