<div class="row">
    <div class="col s8 offset-s2">
      <div class="card">
        <div class="sm-jumbotron center-align">
          <h2>User registration</h2>
        </div>
        <form class="col s12 white" #userRegistrationForm="ngForm" (ngSubmit)="OnSubmit(userRegistrationForm)">
          <div class="row">
            <div class="input-field col s6">
              <input type="text" name="name" #UserName="ngModel" [(ngModel)]="user.name">
              <label>Name</label>
            </div>

            <div class="input-field col s6">
              <input type="text" name="email" #Email="ngModel" [(ngModel)]="user.email">
              <label>Email</label>
            </div>

            <div class="input-field col s6">
              <input type="password" name="password" #Password="ngModel" [(ngModel)]="user.password">
              <label>Password</label>
            </div>

            <div class="input-field col s6">
              <input type="password" name="password_confirmation" #RePassword="ngModel" [(ngModel)]="user.password_confirmation">
              <label>Confirm password</label>
            </div>

            <div class="row">
              <div class="input-field col s12">
                <button class="btn large btn-submit" type="submit">Register</button>
              </div>
            </div>

          </div>
        </form>
      </div>
    </div>
</div>
